<div class="container" id="contact">

    <div class="row">
        <div class="col-md-8">

            <section>

                {{ .Content }}

                {{ if isset .Site.Params "email" }}

                <div class="heading">
                  <h3>{{ i18n "contactForm" }}</h3>
                </div>

                <div id="contact-message"></div>

								
                <form method="POST" action="https://formspree.io/{{ .Site.Params.email }}">
                  <input type="email" name="email" placeholder="Your email">
                  <textarea name="message" placeholder="Test Message"></textarea>
                  <button type="submit">Send Test</button>
                </form>

                {{ end }}

            </section>

        </div>

        <div class="col-md-4">

            {{ if isset .Site.Params "address" }}
            <section>

              <h3 class="text-uppercase"> {{ i18n "contactAddrTitle" }}</h3>

                {{ .Site.Params.address | safeHTML }}

            </section>

            {{ end }}

        </div>

    </div>
    <!-- /.row -->
</div>

{{ partial "map.html" . }}
